.input-date-container {
  padding: 10px;
  width: 100%;
}

.input-date-card-container {
  padding: 20px;
  width: 100%;
  height: auto;
}

.input-date-header-label {
  font-size: 20px;
  font-weight: 500;
}

.input-date-body-element-container {
  width: 100% !important;
}

.input-date-body-element {
  width: 100%;
}
