/* Estilos para PC */
@media (min-width: 1025px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute !important;
    margin-left: -30px !important;
    float: right !important;
    margin-top: 20px !important;
  }

}

/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {

  .custom-topbar-container-movile {
    display: flex !important;
  }

  .custom-topbar-container {
    display: none !important;
  }



  .custom-topbar-userprofile-name-container {
    display: none;
  }


  .custom-menu-container-body {
    margin-top: 50px !important;
    margin-left: 10px !important;
    width: 65vw !important;
  }


  .custom-userprofile-movile-options-container {
    margin-top: 75px !important;
    margin-left: -235px !important;
  }

  .custom-topbar-userprofile-container-movile {
    margin-left: 25vw !important;
  }

}

/* Estilos para tabletas */
@media (min-width: 601px) and (max-width: 768px) {
  .custom-topbar-container {
    display: none !important;
  }


  .custom-userprofile-movile-options-container {
    margin-top: 75px !important;
    margin-left: -235px !important;
  }

  .custom-topbar-container-movile {
    display: flex !important;
  }

  .custom-topbar-userprofile-name-container {
    display: none;
  }

  .custom-menu-container-body {
    margin-top: 53px !important;
    margin-left: 10px !important;
    width: 45vw !important;
  }

}

@media (max-width: 600px) {


  .custom-userprofile-movile-options-container {
    margin-top: 75px !important;
    margin-left: -235px !important;
  }

  .custom-topbar-container {
    display: none !important;
  }

  .custom-topbar-container-movile {
    display: flex !important;
  }

  .custom-topbar-userprofile-name-container {
    display: none;
  }


  .custom-menu-container-body {
    margin-top: 55px !important;
    margin-left: 0px !important;
    width: 60vw !important;
  }


}

@media (max-width: 520px) {


  .custom-userprofile-movile-options-container {
    margin-top: 160px !important;
    margin-left: -235px !important;
  }

  .btn-first-menu {
    display: none;
  }

  .custom-topbar-container {
    display: none !important;
  }

  .custom-topbar-container-movile {
    display: flex !important;
  }

  .menu-container-movile {
    display: flex !important;
  }

  .custom-topbar-userprofile-name-container {
    display: none;
  }

  .custom-userprofile-options-container {
    margin-left: -35px !important;
    margin-top: 46px !important;
  }


  .custom-menu-container-body {
    margin-top: 155px !important;
    margin-left: 0px !important;
    width: 60vw !important;
  }

}

@media (max-width: 478px) {

  .custom-userprofile-movile-options-container {
    margin-top: 160px !important;
    margin-left: -213px !important;
  }


  .btn-first-menu {
    display: none;
  }

  .menu-container-movile {
    display: flex !important;
  }


  .custom-topbar-container {
    display: none !important;
  }

  .custom-topbar-container-movile {
    display: flex !important;
  }

  .custom-topbar-userprofile-name-container {
    display: none;
  }

  .custom-userprofile-options-container {
    margin-left: -35px !important;
    margin-top: 46px !important;
  }


  .custom-menu-container-body {
    margin-top: 67px !important;
    margin-left: -60px !important;
    width: 20vw !important;
  }

}

/* Estilos para dispositivos móviles */
@media (max-width: 460px) {
  .custom-userprofile-movile-options-container {
    margin-top: 160px !important;
    margin-left: -193px !important;
  }

  .menu-container-movile {
    display: flex !important;
  }

  .btn-first-menu {
    display: none;
  }

  .custom-topbar-container {
    display: none !important;
  }

  .custom-topbar-container-movile {
    display: flex !important;
  }

  .custom-topbar-container-logo {
    width: 16% !important;
  }

  .custom-topbar-menu-container {
    width: 12% !important;
  }

  .custom-topbar-userprofile-container {
    width: 75% !important;
  }

  .custom-topbar-userprofile-name-container {
    display: none;
  }

  .custom-userprofile-options-container {
    margin-left: -70px !important;
    margin-top: 46px !important;
  }

  .custom-menu-container-body {
    margin-top: 158px !important;
    margin-left: -55px !important;
    width: 70vw !important;
  }

}

.default-navbar-container {
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.default-container-title {
  display: flex;
  align-items: center;
}

.default-navbar-title {
  font-size: 24px;
  font-weight: 500;
}

.custom-navbar-title {
  padding-top: 1.8vh;
  font-size: 24px;
  font-weight: 500;
}

.default-navbar-logo {
  width: auto;
  height: 6vh;
}

.custom-navbar-logo {
  width: auto;
  height: 80px;
}

.default-navbar-container-options {
  text-align: center;
}

.custom-navabar-options {
  font-size: 18px;
  font-weight: 500;
}

.custom-navabar-options:hover {
  border-radius: 10px;
  box-shadow: 0px 4px 8px var(--footer-background-color);
}

.custom-topbar-container {
  display: flex;
  flex-direction: row;
  height: 90px;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(220, 220, 220, 0.982);
}


.custom-topbar-container-movile {
  display: none;
  flex-direction: column;
  height: auto;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(220, 220, 220, 0.982);
  padding: 30px;
}

.custom-topbar-container-logo {
  display: grid;
  width: 10%;
  justify-content: space-around;
}



.custom-topbar-menu-container {
  width: 70%;
}

.custom-topbar-userprofile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.custom-topbar-userprofile-container-movile {
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  justify-content: flex-end;
}

.custom-topbar-userprofile-name-container {
  font-weight: 450;
  color: var(--default-text-color);
}

.custom-topbar-username-short-container {
  border: 1px solid var(--profile-shortname-color);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: var(--profile-shortname-color);
  display: grid;
  margin-left: 5px;
  place-items: center;
}

.custom-topbar-username-short-profile-menu-container {
  border: 1px solid var(--profile-shortname-color);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: var(--profile-shortname-color);
  display: grid;
  margin-left: 5px;
  place-items: center;
}

.custom-topbar-profile-menu-container {
  display: flex;
  flex-direction: row;

}

.custom-topbar-profile-menu-container-user-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-topbar-profile-menu-username {
  font-size: 18px;
  font-weight: 550;
  font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;

}

.custom-topbar-profile-menu-email {
  font-size: 15px;
  font-weight: 400;
  font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

.custom-topbar-username-short-label {
  font-weight: 500;
  color: var(--default-text-color);
}

.custom-topbar-userprofile-actions {
  padding-left: 10px;
}

.custom-userprofile-dialog {
  position: relative;
}

.custom-userprofile-options-container {
  position: absolute;
  width: 300px;
  height: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 999 !important;
  margin-left: -35px;
  margin-top: 46px;
  box-shadow: 0px 4px 8px rgba(220, 220, 220, 0.982);
  background: white;
}

.custom-userprofile-2-options-container {
  position: absolute;
  width: 340px;
  max-width: 625px;
  height: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 999 !important;
  margin-left: -50px;
  margin-top: 46px;
  box-shadow: 0px 4px 8px rgba(220, 220, 220, 0.982);
  background: white;
}

.custom-userprofile-movile-options-container {
  position: absolute;
  width: 340px;
  max-width: 625px;
  height: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 999 !important;
  margin-left: -50px;
  margin-top: 46px;
  box-shadow: 0px 4px 8px rgba(220, 220, 220, 0.982);
  background: white;
}

.custom-userprofile-option-container {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.custom-userprofile-2-option-container {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-userprofile-option {
  color: var(--default-text-color);
  font-weight: 450;
  height: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  justify-content: center;
}

.custom-userprofile-2-option {
  color: var(--default-text-color);
  font-weight: 450;
  height: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  justify-content: flex-start;
}

.custom-userprofile-option:hover {
  background: whitesmoke;
}


.custom-menu-container-dialog {
  position: relative;
}

.custom-menu-container-body {
  z-index: 3 !important;
  position: fixed;
  width: auto;
  overflow: auto;
  height: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 4px 8px rgba(220, 220, 220, 0.982);
  padding: 20px;
  background: white;
  margin-top: 67px;
  margin-left: 10px;
}

.custom-menu-container-option {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.custom-menu-option-container {
  color: var(--default-text-color);
  font-weight: 450;
  height: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}

.custom-menu-option-container:hover {
  background: var(--menu-options-hover-background);
  border-radius: 8px;
  border: 1px solid var(--menu-options-hover-border-color);
}

.custom-menu-option-container:active {
  background: var(--menu-options-hover-background);
  border-radius: 8px;
  border: 1px solid var(--menu-options-hover-border-color);
}


.custom-menu-option {
  color: var(--default-text-color);
  font-weight: 450;
  height: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  justify-content: flex-start;
}


.btn-menu {
  font-weight: 450;
  font-size: 25px;
}

.btn-first-menu {
  font-weight: 450;
  font-size: 25px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.navbar-options-container {
  margin-right: 100px !important;
  justify-content: flex-end !important;
}

.default-profile-options {
  justify-content: space-around !important;
}

.custom-menu-2-options-container {
  display: flex;
  width: 100%;
  padding-left: 20px;
  height: 50px;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}


.custom-profile-2-option-container {
  display: flex;
  width: 100%;
  padding-left: 20px;
  height: 50px;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}

.custom-profile-2-option-container:hover {
  border-radius: 10px;
  color: #334155;
  background: #f1f5f9;
}

.custom-menu-2-option-container {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;

}

.custom-menu-2-option-container:hover {
  border-radius: 10px;
  color: #334155;
  background: #f1f5f9;
}

.btn-menu-2-option {
  color: var(--default-text-color);
  font-weight: 450;
  height: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  justify-content: flex-start;
}

.btn.focus,
.btn:focus {
  box-shadow: none !important
}

.btn.active,
.btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: #f1f5f9 !important;
}


.custom-topbar-container-first-file-container-movile {
  width: 100%;
  display: flex;
  align-items: center;
}

.button-menu-movile-container {
  padding-top: 30px;
}


.movile-custom-container-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.button-menu-movile-container-tablet {
  width: 150px;
  margin-left: 60px;
}


.menu-container-movile {
  display: none;
}
