.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-profile-header-container {
  padding: 20px;
}

.user-profile-body-container {
  width: 700px;
  margin-top: 25px;
}

.user-profile-body-form-container {
  padding-left: 40px;
}

.user-profile-body-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-container {
  display: inline-flex;
}

.img-profile {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.user-profile-body-edit-container {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-edit {
  border: 1px solid var(--btn-secundary-border-color);
}

.user-profile-actions-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-profile-viewer {
  padding-top: 25px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-field-container {
  padding: 20px;
}

.profile-name-container {
  font-size: 18px;
  font-weight: 550;
}

.btn-profile-actions {
  margin-left: 10px;
}

.profile-info-user-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.profile-info-name {
  font-size: 24px;
  font-weight: 550;
}

.profile-info-email {
  font-size: 14px;
  font-weight: 400;
}

.edit-form-container {
  overflow: auto;
  height: auto;
}

.edit-img-profile {
  padding: 5px;
  position: absolute;
  margin-left: 95px;
  color: black;
  margin-top: 75px;

}

.edit-img-profile:hover {
  margin-top: 75px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}


.user-profile-detail-label-container {
  padding-top: 20px;
  padding-left: 40px;
}

.user-profile-detail-label {
  font-size: 28px;
  font-weight: 600;
}
