<div class="user-profile-container">
  <div class="card user-profile-body-container">
    <div class="row">
      <div class="col-md-12">
        <div class="user-profile-body-picture-container">
          <div class="user-profile-body-edit-container">
            <button *ngIf="!editForm" class="btn-edit btn" (click)="editFormProcess()">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
          <div class="picture-container">
            <img src="assets/img/profile/user-profile-default.png">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="user-profile-body-form-container">
          <dynamic-form [data]="dynamicFormInput"></dynamic-form>
        </div>
      </div>
    </div>
    <div *ngIf="editForm" class="row">
      <div class="user-profile-actions-container">
        <button class="btn btn-primary" (click)="updateUserProfile()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<div>
  <p-confirmDialog />
</div>
