.card-container {
  padding: 20px;
  width: 21vw;
}

.card-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-body-title-label {
  font-size: 20px;
  font-weight: 500;
}

.card-body-img-carrousel {
  padding-top: 20px;
}
