@media (min-width: 1025px) {}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 601px) and (max-width: 768px) {
  ::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    overflow-y: auto !important;
  }
}

@media (max-width: 600px) {
  ::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    overflow-y: auto !important;
  }

}

@media (max-width: 520px) {
  ::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    overflow-y: auto !important;
  }

}

@media (max-width: 478px) {
  ::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    overflow-y: auto !important;
  }

}

/* Estilos para dispositivos móviles */
@media (max-width: 460px) {
  ::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    overflow-y: auto !important;
  }
}

.projects-register-container {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.projects-register-body-container {
  width: 100%;
  /*  box-shadow: 0px 4px 8px var(--navbar-shadow-color);*/
  border-radius: 8px;
}

.projects-register-body-content {
  padding: 20px;
  width: 100%;
}

.section-container-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-container-right {
  display: flex;
}

.project-register-form-container {
  box-shadow: 0px 4px 8px var(--navbar-shadow-color);
  border-radius: 8px;
  padding: 10px;
  padding-top: 18px;
  background: white;
  height: 76.5vh;
  width: 650px;
}

.project-register-form {
  height: 51vh;
  overflow: auto;
}


.project-register-buttons-container {
  padding-top: 10px !important;
  padding-left: 0px !important;
  padding-right: 8px !important;
  width: 100% !important;
}

.title-form-register-project {
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}

.project-register-step-container {
  background: white !important;
  background-color: white !important;
}

.error-field {
  padding-left: 15px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}


::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
  overflow-y: hidden !important;
}
