.container-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
}

.custom-spinner .mat-progress-spinner circle {
  stroke: rgb(19, 70, 57) !important;
}
