<div class="projects-container">
  <div class="card ">
    <p-dataView *ngIf="projectsCard && projectsCard.length > 0" #dv [value]="projectsCard" [layout]="'grid'"
      [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <div class="row header-container">
          <div class="col-md-6 header-title-container">
            <label class="header-title-label">Proyectos</label>
          </div>
          <div class="col-md-6">
            <div class="dataview-options-header">
              <p-dataViewLayoutOptions />
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="list" let-projects>
        <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let project of projects; let first = first" class="col-12">
            <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
              [ngClass]="{ 'border-top-1 surface-border': !first }">
              <div class="md:w-22rem relative">
                <carousel-img [imgs]="project.imgs" [carouselId]="project.id"></carousel-img>
              </div>
              <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                  <div>
                    <span class="font-medium text-secondary text-sm">{{ project.ubication }}</span>
                    <div class="text-lg font-medium text-900 mt-2">{{project.nameCrop }}</div>
                    <div class="text-lg font-medium text-900 mt-2">{{project.ownerName }}</div>
                    <div class="text-lg font-medium text-900 mt-2">Rentabilidad: {{project.percentageProfit}}</div>
                  </div>
                  <div class="surface-100 p-1" style="border-radius: 30px">
                    <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                      style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                      <span class="text-900 font-medium text-sm">Inversores</span>
                      <span class="text-900 font-medium text-sm">{{ project.partners }}</span>
                      <i class="pi pi-star-fill text-yellow-500"></i>
                    </div>
                  </div>
                  <p-tag [value]="getStatus(project.state)" [severity]="'success'"></p-tag>
                </div>
                <div class="flex flex-column md:align-items-end gap-5">
                  <span class="text-xl font-semibold text-900">{{ 'Inversión minima: ' +
                    project.minInvestment.toLocaleString('es-CO')+ ' COP' }}</span>
                  <span class="text-xl font-semibold text-900">{{ 'Financiado: ' +
                    project.funded.toLocaleString('es-CO')+ ' COP' }}</span>
                  <span class="text-xl font-semibold text-900">{{ 'Meta: ' +
                    project.investmentTarget.toLocaleString('es-CO')+ ' COP' }}</span>
                  <div class="flex flex-row-reverse md:flex-row gap-2">
                    <p-button class="flex-auto md:flex-initial white-space-nowrap" label="Mas información"
                      [disabled]="project.state === 'INAC'" (onClick)="cardEvent(project.id)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="grid" let-projects>
        <div class="grid grid-nogutter">
          <div class="col-12 sm:col-6 md:col-4 xl:col-6 p-2" *ngFor="let project of projects">
            <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
              <div class="surface-50 flex justify-content-center border-round p-3">

                <div class="md:w-20rem relative">
                  <carousel-img [imgs]="project.imgs" [carouselId]="project.id"></carousel-img>
                  <p-tag [value]="getStatus( project.state)" [severity]="'success'"></p-tag>
                </div>
              </div>
              <div class="pt-4">
                <div class="flex flex-row justify-content-between align-items-start gap-2">
                  <div>
                    <span class="font-medium text-secondary text-sm">{{project.ubication}}</span>
                    <div class="text-lg font-medium text-900 mt-1">{{ project.nameCrop }}</div>
                    <div class="text-lg font-medium text-900 mt-1">{{ project.ownerName }}</div>
                    <div class="text-lg font-medium text-900 mt-1">Rentabilidad: {{project.percentageProfit}}</div>
                  </div>
                  <div class="surface-100 p-1" style="border-radius: 30px">
                    <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                      style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                      <span class="text-900 font-medium text-sm">Inversores</span>
                      <span class="text-900 font-medium text-sm">{{ project.partners }}</span>
                      <i class="pi pi-star-fill text-yellow-500"></i>
                    </div>
                  </div>
                </div>
                <div class=" font-medium text-secondary text-sm flex flex-column gap-2">
                  <span class="text-lg font-medium text-900 mt-1">{{ 'Inversión minima: ' +
                    project.minInvestment.toLocaleString('es-CO')+ ' COP' }}</span>
                  <span class="text-lg font-medium text-900 mt-1">{{ 'Financiado: ' +
                    project.funded.toLocaleString('es-CO')+ ' COP' }}</span>
                  <span class="text-lg font-medium text-900 mt-1">{{ 'Meta: ' +
                    project.investmentTarget.toLocaleString('es-CO')+ ' COP' }}</span>
                  <div class="flex gap-2" style="display: flex !important;justify-content: center;">
                    <p-button class="flex-auto md:flex-initial white-space-nowrap" label="Mas información"
                      [disabled]="project.state === 'INAC'" (onClick)="cardEvent(project.id)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
