<div class="multifile-upload-container">
  <div class="card multifile-upload-card-container">
    <div class="multifile-upload-header-container">
      <div class="multifile-upload-header-label-container">
        <label class="multifile-upload-header-label">{{label}}</label>
      </div>
    </div>
    <div class="multifile-upload-body-container">
      <button class="btn btn-primary" onclick="document.getElementById('fileInput').click();">
        <i class="bi bi-cloud-upload"></i>Upload
      </button>
      <input id="fileInput" type="file" style="display: none;" lang="en" (change)="onFileSelected($event)">
    </div>
  </div>
</div>
