<div class="carousel-container">
  <div id="carousel" class="carousel slide">
    <div>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
      </div>
      <div class="carousel-inner">
        <div *ngIf="imgs.length > 0">
          <div *ngFor="let img of imgs; index as i">
            <div class="carousel-item" [ngClass]="i === 0 ? 'active': ''">
              <img [src]="img" class="carousel-img">
            </div>
          </div>
        </div>
        <div *ngIf="imgs.length === 0">
          <img class="carousel-img" src='assets/img/carousel/img-carousel-not-found.svg'>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
