<div class="register-layout">
  <div class="register-container">
    <div class="register-header">
      <label class="register-header-tittle ">Registro</label>
    </div>
    <div class="register-body">
      <div class="register-form">
        <dynamic-form [data]="dynamicFormInput"></dynamic-form>
      </div>
    </div>
    <div class="register-footer">
      <div class="register-footer-content">
        <br>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary">Iniciar sesión</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <mat-label><a class="register-label-register" (click)="register()">Registrarme</a></mat-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
