@media (min-width: 1101px) and (max-width: 1300px) {
  .project-carousel {
    max-width: 870px !important;
  }
}

@media (min-width: 870px) and (max-width: 1100px) {
  .project-carousel {
    max-width: 870px !important;
  }
}

@media (min-width: 601px) and (max-width: 869px) {
  .card-container {
    width: auto !important;
  }

  .project-carousel {
    max-width: 470px !important;
  }

  .projects_not_found_description_container {
    width: auto !important;
  }

}

@media (max-width: 600px) {
  .project-carousel {
    max-width: 470px !important;
  }

  .projects_not_found_description_container {
    width: auto !important;
  }
}

@media (max-width: 520px) {
  .project-carousel {
    display: none;
  }

  .projects_not_found_description_container {
    width: auto !important;
  }
}

@media (max-width: 478px) {
  .project-carousel {
    display: none;
  }

  .projects_not_found_description_container {
    width: auto !important;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 460px) {
  .project-carousel {
    display: none;
  }

  .projects_not_found_description_container {
    width: auto !important;
  }
}

.carousel-container {
  width: 100%;
}

.carousel-img {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  border-radius: 0.5rem;
}

.project-carousel {
  max-width: 1300px;
}

.project-carousel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.carousel-inner-project {
  padding-left: 50px;
  padding-right: 50px;
}

.carousel-control-prev {
  background: #cacaca;
  width: 50px !important;
  border-radius: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 303px;
}

.carousel-control-next {
  background: #cacaca;
  width: 50px !important;
  border-radius: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 303px;
}

.not_found_projects_container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img_not_found_container {
  display: flex;
  justify-content: center;
}

.img_not_found_projects {
  height: 35vh;
  width: auto;
}

.information-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--agrapp-text-color-title);
  font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system,
    BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

.information-subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
  font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system,
    BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  text-align: center;
}

.projects_not_found_description_container {
  width: 820px;
}
