<h2 mat-dialog-title>Upload Oig</h2>
<mat-dialog-content style="overflow: auto;">
  <div class="row">
    <div class="col-md-12">
      <dynamic-form></dynamic-form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'center'">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
    </div>
    <div class="col-md-6">
      <button mat-raised-button color="primary" type="button" (click)="save()">
        Guardar
      </button>
    </div>

  </div>
</mat-dialog-actions>
