.svg-container {
  position: relative;
  display: flex;
  width: auto;
  height: 300px;
}

.svg {
  position: absolute;
  width: 100%;
  height: 270px;
  object-fit: cover;
  opacity: 0;
  /* Comienza con opacidad 0 */
  margin-left: -2rem;
}
