.layout-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  padding-bottom: 5px;
}

.body-container {
  flex: 1;
  flex-direction: column;
  align-items: center;
  min-height: 83.7vh;
}
