<div class="agrapp-projects-management-container">
  <div class="agrapp-projects-management-body-container">
    <div class="agrapp-projects-management-table-container">
      <div class="row agrapp-projects-management-table-header-container">
        <div class="col-md-12">
          <div class="agrapp-projects-management-table-title">
            <label>Administración de proyectos</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10">
              <div class="agrapp-projects-management-table-filter">
                <form [formGroup]="formGroup" style="width: 100%;">
                  <mat-form-field class="field-filter">
                    <mat-label>Filtro..</mat-label>
                    <input formControlName="filter" matInput placeholder="Filtro" #input
                      (keyup)="applyFilterProjectsTable()">
                  </mat-form-field>
                </form>
              </div>
            </div>
            <div class="col-md-2">
              <div class="button-create-container">
                <button class="btn btn-primary" [routerLink]="'/portal/project/register/'">
                  <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Proyecto
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-table-container">
            <table mat-table [dataSource]="dataSourceProjects" class="mat-elevation-z8 agraap-table">
              <ng-container matColumnDef="Nombre proyecto">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Nombre proyecto </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{project.name}}
                </td>
              </ng-container>
              <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Estado </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{getStateByCode(project.state) }} </td>
              </ng-container>
              <ng-container matColumnDef="Fecha inicio">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Fecha inicio </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{project.start_date }} </td>
              </ng-container>
              <ng-container matColumnDef="Fecha fin">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Fecha fin </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{project.end_date }} </td>
              </ng-container>
              <ng-container matColumnDef="Departamento">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Departamento </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{getDeparmentByCodeHtml(project.crop.department) }} </td>
              </ng-container>
              <ng-container matColumnDef="Ciudad">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Ciudad </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{getCityByCodeHtml(project.crop.municipality)}} </td>
              </ng-container>
              <ng-container matColumnDef="Nombre productor">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Nombre productor </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{project.crop.owner.user.name}} </td>
              </ng-container>
              <ng-container matColumnDef="Correo productor">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Correo productor </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{project.crop.owner.user.email}} </td>
              </ng-container>
              <ng-container matColumnDef="Telefono productor">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Telefono productor </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{project.crop.owner.user.phone}} </td>
              </ng-container>
              <ng-container matColumnDef="Dirección productor">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Dirección productor </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  {{project.crop.owner.user.address}} </td>
              </ng-container>
              <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef class="table-content"> Acciones </th>
                <td mat-cell *matCellDef="let project" class="table-content">
                  <button mat-mini-fab type="button" class="btn button-action"
                    (click)="redirectToRegisterProject(project)">
                    <i class="fa fa-edit" style="font-size: 20px;"></i>
                  </button>
                  <button mat-mini-fab type="button" class="btn button-action" (click)="redirectDetailProyect(project)">
                    <i class="fa fa-eye" style="font-size: 20px;"></i>
                  </button>
                  <button *ngIf="false" mat-mini-fab type="button" class="btn button-action"
                    (click)="deletProject(project)">
                    <i class="fa fa-trash" style="font-size: 20px;"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let rowUser; columns: columns;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                </td>
              </tr>
            </table>
            <br>
            <mat-paginator #paginatorProjects [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
              aria-label="Select page" [pageSize]="5" (page)="onPageProjectChange($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card flex justify-content-center gap-2">
  <p-confirmDialog />
</div>
