.dynamic-form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.dynamic-form-header-title-container {
  padding: 10px;
}

.dynamic-form-body-container {
  padding: 10px;
}

.dynamic-form-footer-container {
  padding: 10px;
}

.dynamic-form-header-title-label {
  font-weight: 600;
  font-size: 25px;
}

.dynamic-form-field-container {
  width: 100% !important;
}
