<div class="input-text-container">
  <div class="card card-container">
    <div class="input-text-header-container">
      <div class="input-text-header-label-container">
        <label class="input-text-header-label">{{label}}</label>
      </div>
    </div>
    <br>
    <div class="input-text-body-container">
      <mat-form-field class="input-text-body-element-container">
        <mat-label>{{label}}</mat-label>
        <input matInput [placeholder]="placeholder" class="input-text-body-element" (input)="onInputChange($event)">
      </mat-form-field>
    </div>
  </div>
</div>
