@media (min-width: 601px) and (max-width: 768px) {
  .sponsor-item-container-1 {
    justify-content: center !important;
  }

  .sponsor-item-container-2 {
    justify-content: center !important;
  }
}

@media (max-width: 600px) {
  .sponsor-item-container-1 {
    justify-content: center !important;
  }

  .sponsor-item-container-2 {
    justify-content: center !important;
  }
}

@media (max-width: 520px) {
  .btn-show-projects {
    display: flex !important;
  }

  .sponsor-item-container-1 {
    justify-content: center !important;
  }

  .sponsor-item-container-2 {
    justify-content: center !important;
  }
}

@media (max-width: 478px) {
  .btn-show-projects {
    display: flex !important;
  }

  .sponsor-item-container-1 {
    justify-content: center !important;
  }

  .sponsor-item-container-2 {
    justify-content: center !important;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 460px) {
  .btn-show-projects {
    display: flex !important;
  }

  .sponsor-item-container-1 {
    justify-content: center !important;
  }

  .sponsor-item-container-2 {
    justify-content: center !important;
  }

}

/* Estilos generales */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-blend-mode: screen;
  z-index: 1;
}

/* Primer bola (Naranja) */
.background::before {
  width: 300px;
  height: 300px;
  top: 10%;
  left: 20%;
  background: radial-gradient(circle,
      rgba(255, 165, 0, 0.5) 20%,
      /* Naranja con opacidad */
      rgba(255, 165, 0, 0) 80%
      /* Naranja transparente */
    );
}

/* Segunda bola (Verde) */
.background::after {
  width: 400px;
  height: 400px;
  top: 430px;
  left: 50%;
  background: radial-gradient(circle, rgba(0, 255, 0, 0.5) 20%, rgba(0, 255, 0, 0) 80%);
}

.content {
  text-align: center;
  z-index: 2;
}

h1 {
  color: var(--footer-background-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--footer-background-color);
  /* Color negro */
  font-family: Arial, sans-serif;
  /* Coincide con la tipografía del h1 */
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.cta span {
  display: block;
  font-size: 2rem;
}

.arrow {
  font-size: 3rem !important;
  margin-top: 3%;
  transition: transform 0.3s ease;
  color: var(--footer-background-color);
  text-decoration: none;
}

/* Animación de la flecha */
.cta:hover .arrow {
  transform: translateY(1rem);
}

/* Estilos para la sección de descripción */
.description {
  background: rgb(252 252 252);
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #f9f9f9;
  border-radius: 12px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  padding: 30px 40px;
  /* Espaciado interno de la tarjeta */
  max-width: 600px;
  /* Ancho máximo */
  text-align: justify;
  /* Texto centrado */
}

.card h2 {
  margin-top: 0;
  color: var(--footer-background-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.card p {
  color: #666;
  font-size: 1.3rem;
  line-height: 1.5;
}

strong {
  color: var(--footer-background-color);
}

h4 {
  margin: 2rem;
  text-align: center;
  font-weight: bold;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 50px;
}

.sponsor-item-container-1 {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
}

.sponsor-item-container-2 {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

.sponsors-item {
  margin: 20px
}

.sponsor-img {
  height: 100px;
}

.home-carousel-home-container {
  display: flex;
  padding: 10px;
  justify-content: center;
}


.btn-show-projects {
  display: none;
}

.projects-home-container-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
