<div class="background">
    <div class="content">
        <h1>¿Buscas donde hacer crecer tu dinero?</h1>
        <div class="cta">
            <span>Conoce Agrofin</span>
            <span class="arrow">&#x2193;</span> <!-- Flecha hacia abajo -->
        </div>
    </div>
</div>

<!-- Nueva sección para la descripción -->
<section class="description">
    <div class="card">
        <h2>Agrofin</h2>
        <p>Es una Aplicación Web que permite a las personas rentabilizar una inversión
           con un enfoque social, conectandolos con proyectos de agroinversión.</p>
        <p>Puedes financiar proyectos de cultivo de consumo local o de expotación
            de uno o varios agricultores.</p>
        <p>Puedes precomprar la cosecha a un precio preferencial sobre la venta final.</p>
    </div>
</section>