<div>
  <div class="footer-container">
    <div class="footer-content">
      <div class="row">
        <div class="col-md-6">
          <div class="information-footer">
            <div class="container-agrofin">
              <label class="agrofin-footer-label">Agrofin</label>
            </div>
            <div class="container-agrofin">
              <label class="agrofin-footer-description">Juntos vamos a generar impacto productivo a cientos de pequeños
                y medianos agricultores, con el fin
                de
                crear oportunidades en la ruralidad del pais.
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="information-footer">
            <div class="container-agrofin">
              <label class="agrofin-footer-label">Contáctanos</label>
            </div>
            <div class="container-agrofin">
              <i class="fa fa-home"></i>
              <label class="agrofin-footer-contacts">Carrera 2b</label>
            </div>
            <div class="container-agrofin">
              <i class="fa fa-envelope "></i>
              <label class="agrofin-footer-contacts">
                inversiones&#64;agrofin.com</label>
            </div>
            <div class="container-agrofin">
              <i class="fa fa-phone "></i>
              <label class="agrofin-footer-contacts">3185624741</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
