:root {
  --default-text-color: #2c3e50;
  --primary-text-color: #3498db;
  --secondary-text-color: #2ecc71;
  --accent-text-color: #e74c3c;
  --profile-shortname-color: #e3f1ff;
  --footer-background-color: rgb(45, 63, 59);

  --menu-options-hover-background: rgb(45 63 59 / 8%);
  --menu-options-hover-border-color: rgb(45, 63, 59);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  margin-bottom: 0px !important;
}
