@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
:root {
  --default-text-color: #2c3e50;
  --primary-text-color: #3498db;
  --secondary-text-color: #2ecc71;
  --accent-text-color: #e74c3c;

  --navbar-shadow-color: rgba(220, 220, 220, 0.982);
  --profile-shortname-color: #e3f1ff;
  --footer-background-color: rgb(45, 63, 59);
  --menu-options-hover-background: rgb(45 63 59 / 8%);
  --menu-options-hover-border-color: rgb(45, 63, 59);
  --btn-primary-background: rgb(58 105 94);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  margin-bottom: 0px !important;
}

.row {
  width: 100% !important;
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}
