:root {
  --default-text-color: #2c3e50;
  --primary-text-color: #3498db;
  --secondary-text-color: #2ecc71;
  --accent-text-color: #e74c3c;
  --profile-shortname-color: #e3f1ff;

  --footer-background-color: rgb(45, 63, 59);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  margin-bottom: 0px !important;
}

.row {
  width: 100% !important;
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}
