<div class="input-number-container">
  <div class="card input-number-card-container">
    <div class="input-number-header-container">
      <div class="input-number-header-label-container">
        <label class="input-number-header-label">{{label}}</label>
      </div>
    </div>
    <div class="input-number-body-container">
      <div class="input-number-body-element-container">
        <p-inputNumber [placeholder]="placeholder" class="input-number-body-element" />
      </div>
    </div>
  </div>
</div>
