.modal-container {
  padding: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamic-investment-form-container {
  width: 50vw;
}

.modal-action-container {
  width: 100%;
}

.btn-modal {
  margin-left: 10px;
}

.modal-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
